@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@section head
{
    <style>
        html,body,#target{
 width:100%;
 height:1000px;
 margin:0;
 padding: 0;
}

#target > svg{
 display:block;
}
    </style>
}

<div id="target"></div>

@section scripts{
<script type='text/javascript' src='/js/android.json'></script>
    <script>
        var chart = new tauCharts.Chart({
            type: 'line',
            x: 'time',
            y: 'count',
            color: "file",
            data: android,
            plugins: [
                tauCharts.api.plugins.get('legend')(),
                tauCharts.api.plugins.get('tooltip')()

            ]
        });

        chart.renderTo('#target');
    </script>
}
